- title current_user.first_name
.menu-top.menu-top-user
  nav.navbar.navbar-left.link-logo
    .nav.navbar-nav.menu-logo
      li.nav-item
        = link_to 'Go To Learn', user_path, class: 'nav-link'

  = render '/users/menu-top-responsive'

  nav.navbar.navbar-right
    .nav.navbar-nav.menu-actions

      li.nav-item
        nav.nav-search
          li.nav-item.sc-small
            / input.form-control[type="text" placeholder="&#xF002;"]
            <input class="form-control" type="text" placeholder=" &#xF002;">

      li.nav-item
        .btn-group
          button.btn-link.icon-notification[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            i.fa.fa-comment-o[aria-hidden="true"]
            .label-notification
              i.label.label-pill.label-danger
                | 3
          .dropdown-menu.pull-left
            a.dropdown-item[href="#"]
              | Action
            a.dropdown-item[href="#"]
              | Another action
            a.dropdown-item[href="#"]
              | Something else here
            .dropdown-divider
            a.dropdown-item[href="#"]
              | Separated link

      li.nav-item
        .btn-group
          button.btn-link.icon-notification[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            i.fa.fa-bell-o[aria-hidden="true"]
            .label-notification
              i.label.label-pill.label-danger
                | 3
          .dropdown-menu.pull-left
            a.dropdown-item[href="#"]
              | Action
            a.dropdown-item[href="#"]
              | Another action
            a.dropdown-item[href="#"]
              | Something else here
            .dropdown-divider
            a.dropdown-item[href="#"]
              | Separated link

      li.nav-item.hidden-xs-down
        .img-perfil
          img[src="/images/eu.jpg"]

      li.nav-item.hidden-xs-down
        .btn-group
          button.btn-link.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            span
              = current_user.first_name
          .dropdown-menu.pull-left
            a.dropdown-item[href="#"]
              | Action
            a.dropdown-item[href="#"]
              | Another action
            a.dropdown-item[href="#"]
              | Something else here
            .dropdown-divider
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
