<div class="menu-top menu-top-user">
  <nav class="navbar navbar-right">
    <div class="nav navbar-nav">
      <%= link_to 'Log out', destroy_user_session_path, class: 'link-menu', method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
  </nav>
</div>
