<nav class="menu-left-area">
  <ul class="nav">
    <li class="op-menu">
      <div class="op-select">
        <%= link_to user_path do %>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <span>Home</span>
        <% end %>
      </div>
    </li>
    <li class="op-menu">
      <div class="op-select">
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span>Account</span>
        <% end %>
      </div>
    </li>
    <li class="op-menu">
      <div class="op-select">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>Sign out</span>
        <% end %>
      </div>
    </li>

  </ul>
</nav>
