nav.menu-left-area
  ul.nav
    li#m-home.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-bars[aria-hidden="true"]
          span
            | Home
    li#m-feed.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-newspaper-o[aria-hidden="true"]
          span
            | Feed
    li#m-topics.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-bookmark[aria-hidden="true"]
          span
            | Topics
    li#m-ftopics.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-heart[aria-hidden="true"]
          span
            | Favorite Topics
    li#m-friends.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-users[aria-hidden="true"]
          span
            | Friends
    li#m-message.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-comment[aria-hidden="true"]
          span
            | Messages
    li#m-blog.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-rss-square[aria-hidden="true"]
          span
            | Your Blog
    li#m-annotations.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-pencil-square-o[aria-hidden="true"]
          span
            | Annotations
    li#m-events.op-menu
      .op-select
        = link_to user_path do
          i.fa.fa-calendar[aria-hidden="true"]
          span
            | Events
    li#m-acc.op-menu
      .op-select
        = link_to edit_user_registration_path do
          i.fa.fa-cog[aria-hidden="true"]
          span
            | Account
    li#m-signout.op-menu
      .op-select
        = link_to destroy_user_session_path, method: :delete do
          i.fa.fa-sign-out[aria-hidden="true"]
          span
            | Sign out
