<nav class="menu-left-area">
  <ul class="nav">
    <li class="op-menu">
      <div class="op-select">
        asd asdasdas asdasd
      </div>
    </li>
    <li>asd</li>
    <li>asd</li>
    <li>asd</li>
    <li>asd</li>
    <li>asd</li>
  </ul>
</nav>
