// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "collors";
$height-content-group: 20rem;
$collor-border-content-group: rgb(206, 208, 206);

.content-group{

  border: 1px solid $collor-border-content-group;
  border-radius: 0.3rem;
  height: $height-content-group;
  padding-bottom: 0.5rem !important;
  margin-bottom: 2rem;

  .info{
    height: calc(#{$height-content-group} - 3rem);

    .name{
      border-bottom: 1px solid $collor-border-content-group;

      padding-left: 1rem;
      padding-right: 1rem;

      li.name-group{
        line-height: 3rem;
        padding-left: 3rem !important;

        a{
          color: black;
          font-weight: bold !important;
        }
      }
    }

    .description{
      padding-left: 1rem;
      padding-right: 1rem;
      height: calc(#{$height-content-group} - 7.7rem);
      p{
        padding-bottom: 0.3rem !important;
        padding-top: 0.3rem !important;
      }
    }

    .create{
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: right;
      color: $cinza-morto-forte;
      font-weight: bold !important;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }
  }

  .about{
    border-top: 1px solid $collor-border-content-group;
    line-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    i.fa-bookmark-o{

    }

  }

}

// Small devices (landscape phones, 34em and up) col-xs
@media (max-width: 33.9em) {

  .content-group{
    margin-bottom: 1rem !important;
  }

}

// Small devices (landscape phones, less than 48em) col-sm
@media (min-width: 34em) and  (max-width: 47.9em) {


 }

// Medium devices (tablets, less than 62em) col-md
@media (min-width: 48em) and (max-width: 61.9em) {

  .content-group{
    margin-bottom: 1rem !important;
  }

  .list-groups{
    .col-md-4{
      padding-left: 2px;
      padding-right: 2px;
    }
  }

}

// Large devices (desktops, less than 75em) col-xl
@media (min-width: 62em) and (max-width: 74.9em) {  }
