@import 'collors';

.dropdown-menu-sw{
  margin-top: 1rem !important;
  a{
    margin-left: 0 !important;
  }
}

.dropdown-menu-sw::before {
    top: -16px;
    right: 9px;
    left: auto;
}

.dropdown-menu::before {
    border: 8px solid transparent;
    border-bottom-color: rgba(0,0,0,0.15);
}

.dropdown-menu::before, .dropdown-menu::after {
    position: absolute;
    display: inline-block;
    content: "";
}

.dropdown-menu-sw::after {
    top: -14px;
    right: 10px;
    left: auto;
}

.dropdown-menu::after {
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

.dropdown-menu::before, .dropdown-menu::after {
    position: absolute;
    display: inline-block;
    content: "";
}




.link-logo{
  padding: 0 !important;
  margin-left: 0.7rem;

  a{

    padding: 0;
    font-family: 'Amatica SC', cursive !important;
    font-size: 3rem;
    font-weight: 700 !important;
  }
}

.menu-top{
  width: 100%;
  height: 4em;
  border-bottom: solid 1px $borda-cinza;

  .link-logo{
    a{
      margin-top: -1rem;
    }
  }

  .menu-actions{
    li{
      // margin-left: 0 !important;
    }

    button{
      border: 0 !important;
      padding: 0 !important;
    }
  }

  .navbar {
    padding-top: 1rem
  }

  .nav-search{
    z-index: 9999;
    margin-right: -0.7rem;



    input[type='text']{
      width: 10rem;
      border-radius: 1.5rem;
      font-family: Proxima Nova, FontAwesome;
      text-decoration: inherit;
      // transition: width 0.3s;

    }

    // input[type='text']:focus{
    //   width: 30rem;
    //   margin-left: -140px;
    //   transition: all 0.3s;
    // }
    //
    // .transation-right  input[type='text']:focus{
    //   margin-left: 0;
    //   position: absolute;
    // }

    .sc-small {
      margin-top: -0.3rem;
      margin-top: -0.2rem;



      input[type='text']{
        font-size: 1.2rem;
        width: 3.3rem;
        padding-right: 0.1rem;
        // width: 13rem;
        border: 0;
        border-radius: 0 !important;

      }

      input[type='text']:focus{
        border-bottom: 1px solid #66afe9;
        width: 25rem;
        margin-left: -140px;
        transition: all 0.3s;
      }
    }


  }

  .dropdown-menu.pull-left{
    a{
      margin: 0;
    }
  }

  .icon-notification{
    // margin-top: -0.2rem;
    font-size: 1.3rem;
  }

  .label-notification {
    position: relative;
    font-size: 0.9rem;
    margin-top: -2.2rem !important;
    margin-left: 1.1rem !important;
    .label{
      padding-top: 0.35rem;
      padding-bottom: 0.35rem;
    }
  }

  a{
    margin-left: 10px;
    margin-right: 10px;
  }

  a.link-menu{
    color: $cinza-morto-forte;
    // padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  a.link-menu:hover{
    color: black;
  }

  .img-perfil{
    margin-top: -0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img{
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

}

.menu-top-user{
  // width: calc(100% - #{$tamanho-menu});
  // float: right;
}

.menu-logo{
  a, a:hover{
    font-weight: 700 !important;
    color: black;
    text-decoration: none;
  }
}

#op-menu-responsive{
  display: none;
}

@media (max-width: 33.9em) {

  .menu-left-area{
    display: none;
  }

  .menu-top-user,
  .page-content{
    width: 100% !important;
    margin-left: 0 !important;
  }

  #op-menu-responsive{
    display: block;
    margin-top: -0.5rem;
    i.fa-bars{
      color: $cinza-morto-forte;
      font-size: 2rem;
    }
  }

  #op-menu-responsive:hover{
    i.fa-bars {
      color: rgb(2, 182, 222)
    }

    .menu-responsive{
      display: block;;
    }
  }


  .menu-responsive{
    margin-left: calc(-100% + 63px);
    margin-top: 0.7rem;
    clear: none;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    background-color: rgb(2, 182, 222);
    // overflow: hidden;

    .menu{
      text-align: center;
      margin-top: 3rem;
      a {
        color: white !important;
        font-size: 2rem;
      }

      li{
        margin-bottom: 1rem;
      }
    }

  }

  .menu-home{
    .container{
      padding: 0 !important;
    }

    .navbar{
      padding: 0;
      padding-top: 0.8rem;
      h2{
        margin-top: 0.5rem;
        font-size: 1.2rem !important;
      }
    }
  }


}
